<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zeon.com.chatapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGEE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Background"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter tools:ignore="ExtraText">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chat_Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register_Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chat_Msg_Row"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SocketInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_Edit_Info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".back1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".back2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".back3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".back4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Main_Chats_Page" />
        <activity
            android:name=".welcom_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Games_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Search_network"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Style_Change" />
        <activity android:name=".Activity.ChatActivity" />
        <activity android:name=".Chat_User_New"></activity>
    </application>

</manifest>